SQLAlchemy==1.4.47             # ORM для работы с базой данных
Flask==2.2.3                   # Веб-фреймворк 
Flask-SQLAlchemy==2.5.1        # Расширение для интеграции SQLAlchemy с Flask
requests==2.28.1               # Библиотека для работы с HTTP-запросами

